<!-- <h1>Items#new</h1>
<p>Find me in app/views/items/new.html.erb</p> -->

<div class="item-form">
  <%= form_for :item, :url => category_items_path(@category) do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>

    <p>
      <%= form.label :price %><br>
      <%= form.text_field :price %>
    </p>

    <p>
      <%= form.label :price2 %><br>
      <%= form.text_field :price2 %>
    </p>

    <p>
      <%= form.label :price3 %><br>
      <%= form.text_field :price3 %>
    </p>

    <p>
      <%= form.submit %>
    </p>

  <% end %>
</div>
