<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wadsworth Pizza</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- <header>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
  </header> -->

  <div class="menu">
    <ul>
      <li class="active"><%= link_to "Home", root_path %></li>
      <li><%= link_to "Customer Feedback", root_path %></li>
      <li><%= link_to "Job Inquiry", root_path %></li>
    </ul>
  </div>

    <%= yield %>
  </body>
</html>
